<div data-w-id="11d10631-8f8d-6209-f7be-f936f809b3bf" class="footer-cta">
	<div class="kicker-title-about-page">Join Nftion</div>
	<div class="text-container-footer-cta">
		<h1 class="heading-footer-40px">With us you <span class="multicolor-heading">can earn </span>from NFTs trading</h1>
	</div><a href="{% url 'account_signup' %}" target="_blank" class="primary-button-big center w-button">Get Started Now</a>
	
	<div class="logos-wrapper">
		<!-- <div class="logo-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62b9f1976a71f113eae3b00c_Logo.svg" loading="lazy" alt="" class="footer-company-logos-image" /></div>
		<div class="logo-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62b9f194bada60594b99ef46_Logo%20(1).svg" loading="lazy" alt="" class="footer-company-logos-image" /></div>
		<div class="logo-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62b9f19076ce7e5f3a494c79_Logo%20(2).svg" loading="lazy" alt="" class="footer-company-logos-image" /></div>
		<div class="logo-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62b9f18e9b1bd7f5522530ef_Logo%20(3).svg" loading="lazy" alt="" class="footer-company-logos-image" /></div>
		<div class="logo-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62b9f18cef3018c61141e32e_Logo%20(4).svg" loading="lazy" alt="" class="footer-company-logos-image" /></div> -->
	</div>
</div>