{% load static %}


<div class="slider-carousel-section">
	<h3 class="heading-h3-40px slider-section-title">What our customers <span class="gradient-heading-blue">think</span> about Nftion.</h3>
	<div class="slider-carousel-container">
		<div data-delay="4000" data-animation="slide" class="testimonial-slider w-slider" data-autoplay="false" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true">
			<div class="mask-testimonial-slider w-slider-mask">
				<div class="testimonial-slide w-slide">
					<div class="testimonial-slider-content">
						<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd8b1000da518c03fee354_Quotes.svg" loading="lazy" alt="" class="quotes-image"/>
						<h5 class="testimonial-title">“It's so simple, I can use investment indicators I got used to, to earn from Web3. You can get profit from different NFTs and not just from top collections.”</h5>
					</div>
				</div>
				<div class="testimonial-slide w-slide">
					<div class="testimonial-slider-content">
						<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd8b1000da518c03fee354_Quotes.svg" loading="lazy" alt="" class="quotes-image"/>
						<h5 class="testimonial-title">“It’s a great service, more like OpenSea shared storefront. You can really buy valuable cheap item through the best NFT marketplace.”</h5>
						
					</div>
				</div>
				<div class="testimonial-slide w-slide">
					<div class="testimonial-slider-content">
						<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd8b1000da518c03fee354_Quotes.svg" loading="lazy" alt="" class="quotes-image"/>
						<h5 class="testimonial-title">“I like this new approach with individual NFT analysis, these collections are so useless. Instead of just reselling bored ape, having complete market overview, you can really invest.”</h5>
						
					</div>
				</div>
				<div class="testimonial-slide w-slide">
					<div class="testimonial-slider-content">
						<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd8b1000da518c03fee354_Quotes.svg" loading="lazy" alt="" class="quotes-image"/>
						<h5 class="testimonial-title">“This analytical tool acts as a top NFT marketplace, here you can really choose top NFT projects, real artworks to make financially success investments into real artists.”</h5>
					</div>
				</div>
			</div>
			<div class="left-arrow w-slider-arrow-left">
				<div class="left-arrow-icon w-icon-slider-left"></div>
			</div>
			<div class="right-arrow w-slider-arrow-right">
				<div class="right-arrow-icon w-icon-slider-right"></div>
			</div>
			<div class="slide-nav w-slider-nav w-slider-nav-invert w-round"></div>
		</div>
	</div>
</div>