{% load static %}


<div class="solutions-section" id="future_features">
	<div class="wrap-solution-section">
		<div data-w-id="3c014dfa-a937-a890-89bb-4b90368bdbab" class="solution-cards-wrap col-1">
			<div class="solution-card-big" >
				<a href="#" class="tag w-button">Future Features</a>
				<h3 class="heading-h3-40px solution">At Nftion, we always aim to improve our analytics toolkit</h3>
				<div class="body-03---16px solution">These features will be introduced to our service in the nearest future.</div>
				<a href="{% url 'account_signup' %}" class="primary-arrow-big-button solutions w-button">Get Started</a>
			</div>
		</div>
		<div class="solution-cards-wrap col-2">
			<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bda3cb651501d19671cdb1_Arrow%20Big.svg" loading="lazy" alt="" class="arrow-big"/>
			<div class="solution-card-small-wrap">
				<div data-w-id="3c014dfa-a937-a890-89bb-4b90368bdbb8" class="solution-card-small top">
					<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bda5790f79ac65deedda4f_Category.svg" loading="lazy" alt="" class="solution-card-icon"/>
					<h5 class="solution-small-card-title">Community check</h5>
					<div class="body-03---16px solution small-card">Neuro web will analyze social media community of every NFT creator.</div>
				</div>
				<div data-w-id="3c014dfa-a937-a890-89bb-4b90368bdbbe" class="solution-card-small">
					<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bda57765150159a371dd00_Document.svg" loading="lazy" alt="" class="solution-card-icon"/>
					<h5 class="solution-small-card-title">Proof of forecast</h5>
					<div class="body-03---16px solution small-card">Using AI-based technologies Nftion will forecast the results of investments for every single NFT.</div>
				</div>
			</div>
			<div class="solution-card-small-wrap right-col">
				<div data-w-id="3c014dfa-a937-a890-89bb-4b90368bdbc5" class="solution-card-small top right-col">
					<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bda574ff679beba08f189b_Filter%20Green.svg" loading="lazy" alt="" class="solution-card-icon"/>
					<h5 class="solution-small-card-title">In-depth collection analysis</h5>
					<div class="body-03---16px solution small-card">Automated evaluation of collection and individual NFT rareness.</div>
				</div>
				<div data-w-id="3c014dfa-a937-a890-89bb-4b90368bdbcb" class="solution-card-small">
					<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bda573ba2b205dafe67f99_3%20User%20Orange.svg" loading="lazy" alt="" class="solution-card-icon"/>
					<h5 class="solution-small-card-title">Risk Indicator</h5>
					<div class="body-03---16px solution small-card">Every NFT in your report will have a risk ratio based on the parameters we calculate as part of our advanced analytics.</div>
				</div>
			</div>
		</div>
	</div>
</div>