{% load static %}



<div class="process-section" id="how_it_works">
	<div class="process-container">
		<div class="process-title-wrap">
			<!-- <h1 class="process-heading">Let’s See How it Works</h1> -->
			<h3 data-w-id="6af97cf7-5658-03e7-7465-210bf0f93e54" style="opacity:0" class="heading-h3-40px tools-title">This is <span class="text-span">how it works</span></h3>
			<!-- <p class="process-subheading">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p> -->
		</div>
		<div class="w-layout-grid process-grid">
			<div class="process-card-primary">
				<div class="number-wrap green" style="margin-left: auto; margin-right: auto;">
					<!-- <div class="number">1</div> -->
					<img src="{% static 'img/imgs/step1.png' %}" alt="">
				</div>
				<h3 class="feature-title">Register account</h3>
				<p class="feature-paragraph">Register you account in Nftion and access the dashboard.</p><img src="https://assets.website-files.com/6110b06f10260e518f5d3077/6110b1396056a5e6b0bd01f9_Dot%20Wave.svg" loading="lazy" alt="" class="process-arrow-01" />
			</div>
			<div class="process-card-primary">
				<div class="number-wrap green" style="margin-left: auto; margin-right: auto;">
					<img src="{% static 'img/imgs/step2.png' %}" alt="">
				</div>
				<h3 class="feature-title">Search with table</h3>
				<p class="feature-paragraph">Use the most advanced filters and find the best NFT.</p><img src="https://assets.website-files.com/6110b06f10260e518f5d3077/6110b1396056a5e6b0bd01f9_Dot%20Wave.svg" loading="lazy" alt="" class="process-arrow-01" />
			</div>
			<div class="process-card-primary">
				<div class="number-wrap green" style="margin-left: auto; margin-right: auto;">
					<img src="{% static 'img/imgs/step3.png' %}" alt="">
				</div>
				<h3 class="feature-title">Invest now</h3>
				<p class="feature-paragraph">Go the NFT marketplace connect you wallet and purchase it.</p>
			</div>
		</div>
	</div>
</div>