{% load static %}
<div data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c59" style="opacity:0" class="accordion-sub-section">
	<div class="accordion-col-1">
		<h4 class="title-accordion-section">Use the top-notch Nftion data driven analytics</h4>
		<p class="body-02---18px accordion-section">Behind every single successful investment stands the in-depth analysis.</p>
		<div class="accordion-1-wrap">
			<div class="accordion">
				<div data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c61" class="accordion-trigger">
					<div class="title-accordion-wrap">
						<div class="icon-accordion-wrap"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc5cc02cdb530e1a3b8e25_Icon%208.svg" loading="lazy" alt="" class="icon-accordion"/><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc74a2b64ae6f034fb5507_Icon%208(2).svg" loading="eager" alt="" class="icon-accordion-2"/></div>
						<div class="body-01---20px accordion-title">NFT liquidity analysis</div>
					</div>
					<div class="arrow-accordion"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc1bf4271a070069144bcc_CaretDown.svg" loading="lazy" alt="" class="arrow-image"/></div>
				</div>
				<div style="display:none;opacity:0" class="accordion-content">
					<p class="body-02---18px accordion-text">Check average duration of sale and ownership of every NFT.</p>
				</div>
			</div>
			<div class="accordion">
				<div data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c6e" class="accordion-trigger">
					<div class="title-accordion-wrap">
						<div class="icon-accordion-wrap"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc74a1b9115e39566c48ba_Icon%209(2).svg" loading="lazy" alt="" class="icon-accordion"/><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc5cbe7d7b7c2fa393d2b0_Icon%209.svg" loading="eager" alt="" class="icon-accordion-2"/></div>
						<div class="body-01---20px accordion-title">Risk Assessment</div>
					</div>
					<div class="arrow-accordion"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc1bf4271a070069144bcc_CaretDown.svg" loading="lazy" alt="" class="arrow-image"/></div>
				</div>
				<div style="display:none;opacity:0" class="accordion-content">
					<p class="body-02---18px accordion-text">Get the statistical data about worst reselling results for your potential purchase.</p>
				</div>
			</div>
			<div class="accordion last">
				<div data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c7b" class="accordion-trigger">
					<div class="title-accordion-wrap">
						<div class="icon-accordion-wrap"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc5cbd51c61ce2593ae314_Icon%2010.svg" loading="lazy" alt="" class="icon-accordion"/><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc74a125d81a785d93c9aa_Icon%2010(2).svg" loading="eager" alt="" class="icon-accordion-2"/></div>
						<div class="body-01---20px accordion-title">Monthly ROI</div>
					</div>
					<div class="arrow-accordion"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc1bf4271a070069144bcc_CaretDown.svg" loading="lazy" alt="" class="arrow-image"/></div>
				</div>
				<div style="display:none;opacity:0" class="accordion-content">
					<p class="body-02---18px accordion-text">Get the clear picture of your monthly income.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="accordion-col-2 accordion-3">
		<div class="card-image-wrap accordion-3">
			<img src="{% static 'img/imgs/el1.png' %}" loading="lazy" sizes="(max-width: 479px) 37vw, (max-width: 767px) 34vw, (max-width: 991px) 205px, (max-width: 1279px) 17vw, 205px" alt="" class="image-card-1 accordion-3"/>
		<img src="{% static 'img/imgs/el2.png' %}" loading="lazy" sizes="(max-width: 479px) 37vw, (max-width: 767px) 34vw, (max-width: 991px) 205px, (max-width: 1279px) 17vw, 205px" alt="" class="image-card-3"/></div>
		<div class="card-image-wrap"><img src="{% static 'img/imgs/el3.png' %}" loading="lazy"  sizes="(max-width: 479px) 52vw, (max-width: 767px) 48vw, (max-width: 991px) 288px, (max-width: 1279px) 24vw, 288px" alt="" class="image-card-5"/><img src="{% static 'img/imgs/el4.png' %}" loading="lazy"  sizes="(max-width: 479px) 52vw, (max-width: 767px) 48vw, (max-width: 991px) 288px, (max-width: 1279px) 24vw, 288px" alt="" class="image-card-6"/><img src="{% static 'img/imgs/el5.png' %}" loading="lazy"  sizes="(max-width: 479px) 52vw, (max-width: 767px) 48vw, (max-width: 991px) 288px, (max-width: 1279px) 24vw, 288px" alt="" class="image-card-6"/><img src="{% static 'img/imgs/el6.png' %}" loading="lazy"  sizes="(max-width: 479px) 52vw, (max-width: 767px) 48vw, (max-width: 991px) 288px, (max-width: 1279px) 24vw, 288px" alt="" class="image-card-5 last"/></div>
	</div>
</div>