{% load static %}


<div data-w-id="36ea5696-63eb-6308-2c40-dd6afd32b670" class="integration-section">
	<div class="integration-section-inner-wrap">
		<div class="image-container"><img src="{% static 'img/imgs/integrations_map.png' %}" loading="lazy" data-w-id="36ea5696-63eb-6308-2c40-dd6afd32b673"  sizes="(max-width: 479px) 88vw, (max-width: 767px) 440px, (max-width: 991px) 487px, (max-width: 1279px) 43vw, 487px" alt="" class="integrate-tools-image"/></div>
		<div class="text-container integration">
			<div class="tag">
				<div>Wide choice</div>
			</div>
			<h3 class="heading-h3-40px integration">Connect with 10+ NFT marketplaces on multiple blockchains</h3>
			<p class="body-02---18px integration">We aim to integrate all of your favorite NFT marketplaces, allowing a wider choice for analysis.</p>
			<a href="integrations.html" class="primary-button-medium w-button">Get Started</a>
		</div>
	</div>
</div>