{% load static %}
<div class="our-values-section" id="ourvalues">
	<div data-w-id="6af97cf7-5658-03e7-7465-210bf0f93e54" style="opacity:0" class="innerwrap-our-values-section">
		<!-- <h3 data-w-id="6af97cf7-5658-03e7-7465-210bf0f93e54" style="opacity:0" class="heading-h3-40px tools-title">Nftion <span class="text-span">dashboard </span>for NFT market analysis</h3> -->
		<div class="title-values-section-wrap">
			<!-- <div class="horizontal-line"></div>
			<h4 class="title-values-section">Our <span class="gradient-heading-94-deg bold">Values </span></h4> -->
			<h4 class="title-accordion-section">Why Nftion?</h4>
			<!-- <p class="body-02---18px accordion-section">Behind every single successful investment stands the in-depth analysis.</p> -->
		</div>
		<!-- <div class="title-values-section-wrap">
			<div class="horizontal-line"></div>
			<h4 class="title-values-section">About <span class="gradient-heading-94-deg bold">Nftion </span></h4>
		</div> -->
		<div class="list-values">
			<div class="values-content-column">
				<div class="number-wrap green">
					<div class="number">1</div>
				</div>
				<h5 class="values-list-title">Individual NFT analysis</h5>
				<p class="text-values-list">We analyze every single NFT, not collections as a whole.</p>
			</div>
			<div class="values-content-column">
				<div class="number-wrap purple">
					<div class="number purple">2</div>
				</div>
				<h5 class="values-list-title">Simple data</h5>
				<p class="text-values-list">We use the most common parameters for investment analysis.</p>
			</div>
			<div class="values-content-column">
				<div class="number-wrap red">
					<div class="number red">3</div>
				</div>
				<h5 class="values-list-title">Profitable</h5>
				<p class="text-values-list">We aim to provide you with the turnkey solution to earn by investment in NFT.</p>
			</div>
		</div>
		
		<!-- <div class="our-mission-section">
			<div data-w-id="6af97cf7-5658-03e7-7465-210bf0f93e54" style="opacity:0" class="mission-section-column"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62c523cdedc08c73a70978d5_handshake.png" loading="lazy" alt="" class="handshake-image" />
				<h2 class="mission-title">Our <span class="gradient-heading-94-deg">mission</span></h2>
				<div class="mission-info-container">
					<div class="mission-info-column">
						<h5 class="mission-info-title">2017</h5>
						<div class="mission-info-text">Founded</div>
					</div>
					<div class="vertical-line-30px about-page"></div>
					<div class="mission-info-column">
						<h5 class="mission-info-title">$54.2M</h5>
						<div class="mission-info-text">Investment</div>
					</div>
					<div class="vertical-line-30px about-page"></div>
					<div class="mission-info-column">
						<h5 class="mission-info-title">48</h5>
						<div class="mission-info-text">Teammate</div>
					</div>
				</div>
			</div>
			<div class="mission-section-column">
				<p data-w-id="75435ec8-4147-de35-c54b-2125d28c8188" style="opacity:0" class="paragraph-20px">Business software is changing fast. Notion is changing how we organize, Slack is replacing internal email, and Miro is transforming how we whiteboard.<br /><br />But one thing hasn&#x27;t changed: relationships. Relationships are the most important part of business but somehow our tools have been left in the past.</p>
			</div>
		</div> -->
	</div>
</div>