{% load static %}


<div class="resources-section">
	<div class="inner-wrap-resources-section">
		<h2 data-w-id="84487246-6721-136b-dfa8-4a9464b4fb2a" style="opacity:0" class="title-resources-section">Our latest resources for <span class="gradient-heading-93-29-deg">growing</span> your product.</h2>
		<div data-w-id="8bde8df0-bb53-924f-4fa0-c2d03f228cc8" style="opacity:0" class="resources-posts-wrap">
			<div data-w-id="03afb2df-6c6f-f727-7290-2aaeb2d8d4de" style="opacity:0" class="resources-post-col-1">
				<div class="w-dyn-list">
					<div role="list" class="w-dyn-items">
						<div role="listitem" class="w-dyn-item">
							<a href="blog-page/5-web-design-blogs-you-should-be-reading.html" class="resources-post-big-wrap w-inline-block">
								<div class="blog-image-wrapper _580px"><img src="https://assets.website-files.com/62b6199a4cc8688589ed8855/62b61ed91000ff932988693a_Rectangle%204331.png" loading="lazy" alt="" class="blog-thumbnail _2-corners"/></div>
								<div class="resources-post-content-wrap">
									<div class="post-tags-wrap">
										<div class="category-tag">
											<div>Career</div>
										</div>
										<div class="read-time-wrap">
											<div class="read-time">4 min read</div>
										</div>
									</div>
									<div class="link-post">
										<h4 class="title-post-resource">5 Web Design Blogs You Should Be Reading</h4>
									</div>
									<div class="author-wrap">
										<div class="author-image-wrap"><img src="https://assets.website-files.com/62b6199a4cc8688589ed8855/62fd02eb32c326096dbb5c55_Author%202.svg" loading="lazy" alt="" class="author-image-48px"/></div>
										<div class="author-details-wrap">
											<h6 class="author-name">Leo Torff</h6>
											<div class="post-date">June 25, 2022</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="resources-post-col-2">
				<div class="collection-small-blog-wrap w-dyn-list">
					<div role="list" class="collection-list-2 w-dyn-items">
						<div role="listitem" class="collection-item w-dyn-item">
							<a href="blog-page/how-to-set-your-daily-rate-as-a-freelancer.html" class="resources-post-small-wrap w-inline-block">
								<div class="blog-image-wrapper _223px"><img src="https://assets.website-files.com/62b6199a4cc8688589ed8855/62b61db6e86364402b161584_unsplash_31OdWLEQ-78.png" loading="lazy" alt="" class="blog-thumbnail _2-corners"/></div>
								<div class="resources-post-content-wrap small">
									<div class="link-post small">
										<h5 class="author-name-small">How to set your daily rate as a freelancer</h5>
									</div>
									<div class="wrap-author-details">
										<div class="resources-author-col-1">
											<div class="author-wrap">
												<div class="author-image-wrap"><img src="https://assets.website-files.com/62b6199a4cc8688589ed8855/62fd02dfd26fac242a8844a4_Author%203.svg" loading="lazy" alt="" class="author-image-48px"/></div>
												<div class="author-details-wrap">
													<h6 class="author-name small-post">Jakob Vaccaro</h6>
													<div class="post-date small-post">June 25, 2022</div>
												</div>
											</div>
										</div>
										<div class="resources-author-col-2">
											<div class="read-time-wrap">
												<div class="read-time">4 min read</div>
											</div>
											<div class="category-tag small-post">
												<div>Career</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
						<div role="listitem" class="collection-item w-dyn-item">
							<a href="blog-page/5-principles-of-effective-web-design.html" class="resources-post-small-wrap w-inline-block">
								<div class="blog-image-wrapper _223px"><img src="https://assets.website-files.com/62b6199a4cc8688589ed8855/62b61e785d1e4337b5fcc475_Rectangle%204329.png" loading="lazy" alt="" class="blog-thumbnail _2-corners"/></div>
								<div class="resources-post-content-wrap small">
									<div class="link-post small">
										<h5 class="author-name-small">5 Principles Of Effective Web Design</h5>
									</div>
									<div class="wrap-author-details">
										<div class="resources-author-col-1">
											<div class="author-wrap">
												<div class="author-image-wrap"><img src="https://assets.website-files.com/62b6199a4cc8688589ed8855/62fd02eb32c326096dbb5c55_Author%202.svg" loading="lazy" alt="" class="author-image-48px"/></div>
												<div class="author-details-wrap">
													<h6 class="author-name small-post">Leo Torff</h6>
													<div class="post-date small-post">June 25, 2022</div>
												</div>
											</div>
										</div>
										<div class="resources-author-col-2">
											<div class="read-time-wrap">
												<div class="read-time">4 min read</div>
											</div>
											<div class="category-tag small-post">
												<div>Business</div>
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>