{% load static %}


<div class="tool-analytics-section-2">
	<div class="inner-wrap-tool-analytics-sec-2">
		<div class="image-dashboard-wrap">
			<!-- <h3 data-w-id="6af97cf7-5658-03e7-7465-210bf0f93e54" style="opacity:0" class="heading-h3-40px tools-title">Nftion <span class="text-span">dashboard </span>for NFT market analysis</h3>
			<p data-w-id="3209d9d5-857a-2d59-1517-b92a2e0cffeb" style="opacity:0" class="text-tool-analytics">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
			<div data-w-id="d87e51a5-3665-1fb9-73b2-08fe178033c4" style="opacity:0" class="dashboard-image-container">
				<!-- <img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc02b4fe7663fc769a5ec8_Polygon%208.svg" loading="lazy" alt="" class="overlay-bg-pink"/> -->
				<!-- <img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd6be014222042682d2812_Data%20stats.png" loading="lazy" srcset="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd6be014222042682d2812_Data%20stats-p-500.png 500w, https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd6be014222042682d2812_Data%20stats.png 790w" sizes="(max-width: 479px) 80px, (max-width: 767px) 110px, (max-width: 991px) 180px, (max-width: 1279px) 240px, 262px" alt="" class="data-stats-image"/>  -->
				<div class="graph-image-container">
				<!-- <img src="{% static 'img/imgs/card.png' %}" loading="lazy" alt="" class="stat-graph-image"/> -->
				<img src="{% static 'img/imgs/card.png' %}" loading="lazy" alt="" class="dashboard-graph-image"/>
			</div>
				<img src="{% static 'img/imgs/dashboard.png' %}" loading="lazy" sizes="(max-width: 479px) 77vw, (max-width: 767px) 81vw, (max-width: 991px) 84vw, 850px" alt="" class="dashboard-image"/>
			</div>
		</div>
		
	</div>
</div>