{% load static %}



<div class="black-cta-wrap">
	<div data-w-id="1b954004-be78-3975-0c9f-f85c476db342" class="black-cta">
		<div data-current="Tab 1" data-easing="ease" data-duration-in="300" data-duration-out="100" class="logos-tab w-tabs">
			
			<div class="logos-tab-content w-tab-content">
				<div data-w-tab="Tab 1" class="logos-tab-content-wrap w-tab-pane w--tab-active">
					<div class="inner-wrap-cta">
						<div class="black-cta-col-1"><img loading="lazy" src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62c7251cbe2bdcf869671cf0_Quotes.svg" alt="" class="quotes-image-2" />
							<p class="text-black-cta">NFTs were invented to create a new safe art market. Like classical works of art, contemporary digital art has become an object of investment. The existing methods of evaluating NFT do not allow us to correctly assess the probability of returning and multiplying our investments. We are here to offer the world a precise set of indicators and characteristics that can be used to build long-term investment strategies. Our mission is to make the NFT market clearer for classic investors</p>
							<div class="cta-owner-name">Richard Park</div>
							<div class="cta-position-name">Co-founder of Nftion</div>
						</div>
						<div class="black-cta-col-2"><img srcset="{% static 'img/imgs/richard.png' %}" loading="lazy" src="{% static 'img/imgs/richard.png' %}" alt="" class="cta-image" /></div>
					</div>
				</div>
				
				
				
				
			</div>
		</div>
	</div>
</div>