<!-- {% load static %} -->
<div class="features-integrations-section" id="services">
	<div data-w-id="6af97cf7-5658-03e7-7465-210bf0f93e54" style="opacity:0" class="features-text-container-integrations">
		<div class="tag w-button" >
			<div>Services</div>
		</div>
		<h3 class="features-integrations-title">Real-time NFT analytics table</h3>
		<p class="features-integrations-text">Enter the market having all needed objective information with free NFT market overview.</p>
	</div>
	
	<div class="features-icon-box-integrations">
		
		<div class="features-integrations-icon-box">
			<div class="icon-container-features"><img src="{% static 'img/imgs/table.png' %}" loading="lazy" alt="" class="icon-image-features-integrations" /></div>
			<div class="text-container-features">
				<h5 class="icon-box-title-features">NFT Reports</h5>
				<div class="text-icon-box-features-integrations">Get the list of individual NFTs to invest in.</div>
			</div>
		</div>
		<div class="features-integrations-icon-box">
			<div class="icon-container-features"><img src="{% static 'img/imgs/speed.png' %}" loading="lazy" alt="" class="icon-image-features-integrations" /></div>
			<div class="text-container-features">
				<h5 class="icon-box-title-features">Advanced Analytics</h5>
				<div class="text-icon-box-features-integrations">Get up-to-date well-organized statistical data upon every request.</div>
			</div>
		</div>
		<div class="features-integrations-icon-box">
			<div class="icon-container-features"><img src="{% static 'img/imgs/analytics.png' %}" loading="lazy" alt="" class="icon-image-features-integrations" /></div>
			<div class="text-container-features">
				<h5 class="icon-box-title-features">Rapid Analysis</h5>
				<div class="text-icon-box-features-integrations">Easy settings and convenient data display helps to check billion NFTs in a couple of seconds.</div>
			</div>
		</div>
		<div class="features-integrations-icon-box">
			<div class="icon-container-features"><img src="{% static 'img/imgs/filters.png' %}" loading="lazy" alt="" class="icon-image-features-integrations" /></div>
			<div class="text-container-features">
				<h5 class="icon-box-title-features">Custom Filtering</h5>
				<div class="text-icon-box-features-integrations">Build your own unique list of profitable NFTs.</div>
			</div>
		</div>
	</div>
	
</div>
<div class="image-dashboard-wrap">
	<!-- <h3 data-w-id="6af97cf7-5658-03e7-7465-210bf0f93e54" style="opacity:0" class="heading-h3-40px tools-title">Nftion <span class="text-span">dashboard </span>for NFT market analysis</h3>
	<p data-w-id="3209d9d5-857a-2d59-1517-b92a2e0cffeb" style="opacity:0" class="text-tool-analytics">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
	<div data-w-id="d87e51a5-3665-1fb9-73b2-08fe178033c4" style="opacity:0" class="dashboard-image-container">
		<!-- <img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bc02b4fe7663fc769a5ec8_Polygon%208.svg" loading="lazy" alt="" class="overlay-bg-pink"/> -->
		<!-- <img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd6be014222042682d2812_Data%20stats.png" loading="lazy" srcset="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd6be014222042682d2812_Data%20stats-p-500.png 500w, https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd6be014222042682d2812_Data%20stats.png 790w" sizes="(max-width: 479px) 80px, (max-width: 767px) 110px, (max-width: 991px) 180px, (max-width: 1279px) 240px, 262px" alt="" class="data-stats-image"/>  -->
		<div class="graph-image-container">
		<!-- <img src="{% static 'img/imgs/card.png' %}" loading="lazy" alt="" class="stat-graph-image"/> -->
		<img src="{% static 'img/imgs/card.png' %}" loading="lazy" alt="" class="dashboard-graph-image"/>
	</div>
		<img src="{% static 'img/imgs/dashboard.png' %}" loading="lazy" sizes="(max-width: 479px) 77vw, (max-width: 767px) 81vw, (max-width: 991px) 84vw, 850px" alt="" class="dashboard-image"/>
	</div>
</div>