{% load static %}


<div class="tool-analytics-section">
	<div class="inner-wrap-tool-analytics">
		<h3 data-w-id="c99f69b1-718c-5697-7a2d-ff1b1789c8a5" style="opacity:0" class="heading-h3-40px tools-title">Tracking <span class="text-span">content </span>made simple.</h3>
		<p data-w-id="285738f3-6127-80e8-6872-3ccbeb994cfb" style="opacity:0" class="text-tool-analytics">Track your content’s performance from one, intuitive analytics dashboard.</p>
		<div data-w-id="57d2236b-a7f1-4c42-9108-d2ee90acc743" style="opacity:0" class="cards-analytics-wrap">
			<div class="card-analytics">
				<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bbd066e2d1e113fc26b17e_Filter%202.svg" loading="lazy" alt="" class="filter-icon"/>
				<h3 class="heading-h3-40px tools-title card-title">ROI Forecast</h3>
				<div class="body-02---18px medium">Nftion predicts return on investment in NFT using mathematical formulas.</div>
				<div class="card-image-container pink"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bbd26b635758755397ac08_Group%20520.png" loading="lazy" alt="" class="content-card-image"/></div>
			</div>
			<div class="card-analytics second-card">
				<img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bbd064f424165a840457c0_Filter%202%20(1).svg" loading="lazy" alt="" class="filter-icon"/>
				<h3 class="heading-h3-40px tools-title card-title">Content Reach</h3>
				<div class="body-02---18px medium">See how many screens did your content reach with your current content strategy.</div>
				<div class="card-image-container orange"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bbd45133f8841494c49c52_Group%20538.png" loading="lazy" alt="" class="explore-card-image-1"/><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bbd44f912d9cba6b5c1f7a_Group%205722.png" loading="lazy" alt="" class="explore-card-image-2"/></div>
			</div>
		</div>
		<div data-w-id="799d616a-9ca8-4db1-35a7-d923d285bd60" style="opacity:0" class="cards-analytics-wrap discover-card">
			<div class="col-1-card-discover">
				<h3 class="heading-h3-40px card-discover"><span class="mix-color-heading">Surface results</span> in real-time</h3>
				<p class="body-02---18px card-discover">Is your content doing better or worse? Track and manage its performance in one-click!</p>
				<a href="features.html" class="secondary-big-button no-margin w-button">Explore all features</a>
			</div>
			<div class="col-2-card-discover"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd757b4f1889032bd7d93d_Card%20Image.png" loading="lazy" srcset="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd757b4f1889032bd7d93d_Card%20Image-p-500.png 500w, https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd757b4f1889032bd7d93d_Card%20Image-p-800.png 800w, https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd757b4f1889032bd7d93d_Card%20Image-p-1080.png 1080w, https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bd757b4f1889032bd7d93d_Card%20Image.png 1344w" sizes="(max-width: 479px) 79vw, (max-width: 767px) 70vw, (max-width: 991px) 378px, (max-width: 1279px) 33vw, 388px" alt="" class="discover-card-image"/></div>
		</div>
	</div>
</div>