{% load static %}

<div data-w-id="efcbac83-03fa-a3dd-2877-dc286af90ad4" style="opacity:0" class="features-section">
	<div class="feature-column">
		<div class="icon-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bb1233bf06b02601a9de67_3-User.svg" loading="lazy" alt="" class="icon-image"/></div>
		<div class="icon-text-container">
			<h5 class="icon-text-heading">>3 sales</h5>
			<div class="icon-text">Every NFT in the report has at least 3 sales in history</div>
		</div>
	</div>
	<div class="feature-column">
		<div class="icon-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bb12323e7bb91b248b082b_Category.svg" loading="lazy" alt="" class="icon-image"/></div>
		<div class="icon-text-container">
			<h5 class="icon-text-heading">Affordable options only</h5>
			<div class="icon-text">Choose the amount of money you would like to invest in</div>
		</div>
	</div>
	<div class="feature-column">
		<div class="icon-container"><img src="https://assets.website-files.com/62a9d8dc799c04d25cde53d0/62bb1232e7b10c6cfdcf32d9_Filter.svg" loading="lazy" alt="" class="icon-image"/></div>
		<div class="icon-text-container">
			<h5 class="icon-text-heading">Custom ranking</h5>
			<div class="icon-text">Build the custom list and analyze NFT from different angles</div>
		</div>
	</div>
</div>