{% load static %}

<style>

/*! CSS Used from: https://assets.website-files.com/62a9d8dc799c04d25cde53d0/css/exponent-webflow-ecommerce-template.webflow.97d0b8ae0.css */
img{border:0;}
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
img{max-width:100%;vertical-align:middle;display:inline-block;}
h2{font-weight:bold;margin-bottom:10px;}
h2{font-size:32px;line-height:36px;margin-top:20px;}
h2{margin-top:0px;margin-bottom:12px;font-size:56px;line-height:114%;font-weight:700;}
img{display:inline-block;max-width:100%;}
.hero-section-about-page{position:relative;max-height:469px;min-height:420px;padding-top:104px;padding-bottom:150px;background-image:url("/static/img/imgs/bg_start.png");background-position:50% 50%;background-size:cover;background-repeat:no-repeat;}
.inner-wrap-about-page{max-width:650px;margin-right:auto;margin-left:auto;text-align:center;}
.kicker-title-about-page{margin-bottom:12px;color:#f72585;font-weight:600;text-align:center;}
.title-hero-about-page{position:relative;z-index:2;max-width:524px;margin-right:auto;margin-bottom:24px;margin-left:auto;font-weight:600;}
.text-hero-about-page{position:relative;z-index:2;color:#5c5c5c;font-size:18px;}
.img-person-1{width:102px;height:102px;border-radius:100%;}
.person-image-container{position:absolute;width:102px;height:102px;border-radius:100%;}
.person-image-container.medium{width:68px;height:68px;}
.person-image-container.medium.left{left:220px;bottom:40px;}
.person-image-container.medium.right{top:60px;right:300px;}
.person-image-container.small{width:53px;height:53px;}
.person-image-container.small.left{left:22%;top:42%;right:auto;}
.person-image-container.small.right{top:40px;right:100px;}
.person-image-container.big.left{left:100px;top:40px;}
.person-image-container.big.right{top:auto;right:60px;bottom:100px;}
.img-person-2{width:68px;height:68px;border-radius:100%;}
.img-person-3{width:53px;height:53px;border-radius:100%;}
@media screen and (max-width: 991px){
h2{font-size:48px;}
.inner-wrap-about-page{position:relative;}
.text-hero-about-page{max-width:450px;margin-right:auto;margin-left:auto;line-height:144%;}
.person-image-container.medium.left{left:20%;}
.person-image-container.medium.right{right:27%;}
.person-image-container.small.left{left:14%;}
.person-image-container.small.right{right:6%;}
.person-image-container.big.left{left:2%;}
.person-image-container.big.right{bottom:60px;}
}
@media screen and (max-width: 767px){
h2{font-size:40px;}
.hero-section-about-page{min-height:360px;padding-top:81px;padding-bottom:80px;}
.title-hero-about-page{position:relative;z-index:2;}
.text-hero-about-page{position:relative;z-index:2;max-width:450px;margin-right:auto;margin-left:auto;line-height:144%;}
.img-person-1{width:90px;height:90px;}
.person-image-container.medium.left{left:9%;bottom:16px;}
.person-image-container.medium.right{display:none;}
.person-image-container.small.left{left:5%;display:none;}
.person-image-container.big{width:90px;height:90px;}
.person-image-container.big.left{top:20px;}
.person-image-container.big.right{right:10px;bottom:10px;}
}
@media screen and (max-width: 479px){
h2{font-size:32px;}
.hero-section-about-page{padding-right:15px;padding-left:15px;}
.text-hero-about-page{font-size:16px;}
.img-person-1{width:80px;height:80px;}
.person-image-container.big{width:80px;height:80px;}
}

</style>

<div class="hero-section-about-page">
	<div class="inner-wrap-about-page">
		<div data-w-id="efcbac83-03fa-a3dd-2877-dc286af90ad4" style="-webkit-transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 100px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="kicker-title-about-page">Join Nftion</div>
		<h2 data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c59" style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="title-hero-about-page">With us you can earn from NFTs trading</h2>
		<!-- <div data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c59" style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0" class="text-hero-about-page">We will provide a smooth and seamless toolkit that you can use to earn money.</div> -->
		<a href="integrations.html" class="primary-button-medium w-button" style="margin-top: 50px; width: 50%; margin-right: auto; margin-left: auto;">Get Started</a>
	</div>
	<div data-w-id="efcbac83-03fa-a3dd-2877-dc286af90ad4" style="-webkit-transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="person-image-container small right"><img src="{% static 'img/imgs/test-call.png' %}" loading="eager" alt="" class="img-person-3" /></div>
	<div data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c59" style="-webkit-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-80px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="person-image-container small left"><img src="{% static 'img/imgs/art_nft2.png' %}" loading="eager" alt="" class="img-person-3" /></div>
	<div data-w-id="5b6b8548-3bac-3d54-dc19-54fda5ab4c59" style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="person-image-container big left"><img src="{% static 'img/imgs/art_nft3.png' %}" loading="eager" alt="" class="img-person-1" /></div>
	<div data-w-id="9dc1950a-badc-52ea-07d5-a49c1bc99396" style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="person-image-container big right"><img src="{% static 'img/imgs/art_nft4.png' %}" loading="eager" alt="" class="img-person-1" /></div>
	<div data-w-id="c22268df-22ce-4013-9d3d-2aae97418597" style="-webkit-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 50px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="person-image-container medium right"><img src="{% static 'img/imgs/art_nft5.png' %}" loading="eager" alt="" class="img-person-2" /></div>
	<div data-w-id="b3798690-5cc1-1cbb-92be-6295c0bebc22" style="-webkit-transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(50px, 0px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="person-image-container medium left"><img src="{% static 'img/imgs/art_nft7.png' %}" loading="eager" alt="" class="img-person-2" /></div>
</div>