<div class="wrapper">
	<div class="main-content">
		<div class="container w-container">
			<h1 class="page-title">Help Center</h1>
			<div class="module-group">
				<div class="module">
					<div class="module-main large">
						<h3 class="module-heading large">How can we help?</h3>
						<div class="spacer _24"></div>
						<form action="https://dawn-dashboard.webflow.io/search" class="help-search w-form"><input type="submit" value="Search" class="search-button w-button" /><input type="search" class="search-input w-input" maxlength="256" name="query" placeholder="Search for a topic" id="search" required="" /></form>
						<h3 class="module-heading">All topics</h3>
						<div class="spacer _16"></div>
						<div class="_3-grid">
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Account</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help-page.html">Change account details</a></li>
										<li><a href="help-page.html">Update password</a></li>
										<li><a href="help-page.html">Edit email notifications</a></li>
										<li><a href="help-page.html">Delete your account</a></li>
									</ul>
								</div>
							</div>
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Billing &amp; Pricing</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help-page.html">Update plan</a></li>
										<li><a href="help-page.html">Change payment details</a></li>
										<li><a href="help-page.html">Request refund</a></li>
									</ul>
								</div>
							</div>
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Security</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help-page.html">Change account details</a></li>
										<li><a href="help.html#">Update password</a></li>
										<li><a href="help.html#">Edit email notifications</a></li>
										<li><a href="help.html#">Delete your account</a></li>
									</ul>
								</div>
							</div>
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Using Dawn</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help-page.html">Learn about tasks</a></li>
										<li><a href="help-page.html">Learn about the calender</a></li>
										<li><a href="help-page.html">Learn about the board</a></li>
									</ul>
								</div>
							</div>
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Teams</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help-page.html">Remove members from team</a></li>
										<li><a href="help.html#">Update password</a></li>
									</ul>
								</div>
							</div>
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Device Types</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help.html#">Change account details</a></li>
										<li><a href="help.html#">Update password</a></li>
										<li><a href="help.html#">Edit email notifications</a></li>
										<li><a href="help.html#">Delete your account</a></li>
									</ul>
								</div>
							</div>
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Our Apps</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help.html#">Change account details</a></li>
										<li><a href="help.html#">Update password</a></li>
										<li><a href="help.html#">Edit email notifications</a></li>
										<li><a href="help.html#">Delete your account</a></li>
									</ul>
								</div>
							</div>
							<div class="module">
								<div class="module-header minimal">
									<h3 class="module-heading">Rules and Policies</h3>
								</div>
								<div class="module-main">
									<ul role="list" class="link-list">
										<li><a href="help.html#">Change account details</a></li>
										<li><a href="help.html#">Delete your account</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="module">
					<div class="module-main large">
						<h3 class="module-heading large">Can&#x27;t find what you&#x27;re looking for?<br />Email us below.</h3>
						<div class="spacer _24"></div>
						<div class="w-form">
							<form id="email-form" name="email-form" data-name="Email Form" class="form">
								<div class="_2-fields-split">
									<div class="field-block"><label for="name">First name*</label><input type="text" class="text-input w-input" maxlength="256" name="name" data-name="Name" placeholder="Your first name" required="" /></div>
									<div class="field-spacer"></div>
									<div class="field-block"><label for="profile-email">Last name*</label><input type="text" class="text-input w-input" maxlength="256" name="name" data-name="Name" placeholder="Your last name" required="" /></div>
								</div>
								<div class="_2-fields-split">
									<div class="field-block"><label for="name">Email*</label><input type="email" class="text-input w-input" maxlength="256" name="profile-email" data-name="profile-email" placeholder="example@email.com" required="" /></div>
									<div class="field-spacer"></div>
									<div class="field-block"><label for="number">Phone number</label><input type="tel" class="text-input w-input" maxlength="256" name="number" data-name="Number" placeholder="027 123 1234" id="number" required="" /></div>
								</div>
								<div class="field-block"><label for="Username">How can we help?</label><textarea placeholder="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique." maxlength="5000" data-name="Field" name="field" class="text-area full-width w-input"></textarea></div><input type="submit" value="Submit" data-wait="Please wait..." class="button w-button" />
							</form>
							<div class="form-success w-form-done">
								<div>Thank you for your email.</div>
							</div>
							<div class="form-error w-form-fail">
								<div>Oops! Something went wrong. Please fill in the required fields and try again.</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>