{% load static %}


<div class="dashboard-main-content">
<div class="container-max">
	<div class="filter_form-wrapper w-form">
		<form id="wf-form-filter" name="wf-form-filter" data-name="filter" method="get" fs-cmsfilter-element="filters" class="filter_form">
			<div class="filter_wrapper wf-section">
			   
				<div class="header-block">
					<h1 class="heading">NFTION LIST</h1>
				</div>
				<div class="header-block-2">
					<div class="filter_header-1">
						<div id="w-node-_59be48c3-1b03-5797-58a3-2ae11b67735b-16e4a488" class="filter-header-block">
							<!-- <label id="w-node-ad4b9a9e-fa2a-22c6-74c5-8339dad09313-16e4a488" class="field-label">Select by country</label> -->
							<div id="w-node-f74fb912-de7c-ecbd-7898-a25cbfb62d39-16e4a488" class="filter_block-header">
								<div data-hover="false" data-delay="0" id="w-node-f74fb912-de7c-ecbd-7898-a25cbfb62e12-16e4a488" class="dropdown_select w-dropdown">
									<div class="filter_select w-dropdown-toggle">
										<div class="dropdown_icon w-icon-dropdown-toggle"></div>
										<div fs-cmssort-element="dropdown-label">Select By Status</div>
									</div>
									<nav class="dropdown_list w-dropdown-list">
										<div class="country-collection-wrapper w-dyn-list">
											<div role="list" class="country-collection-list w-dyn-items">
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="status" fs-cmsfilter-field="status" class="checkbox_label w-form-label" for="checkbox">Buy now</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="status" fs-cmsfilter-field="status" class="checkbox_label w-form-label" for="checkbox">On auction</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="status" fs-cmsfilter-field="status" class="checkbox_label w-form-label" for="checkbox">Buy with card</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
											</div>
										</div>
									</nav>
								</div>
								<div data-hover="false" data-delay="0" id="w-node-f74fb912-de7c-ecbd-7898-a25cbfb62e12-16e4a488" class="dropdown_select w-dropdown">
									<div class="filter_select w-dropdown-toggle">
										<div class="dropdown_icon w-icon-dropdown-toggle"></div>
										<div fs-cmssort-element="dropdown-label">Select By Type</div>
									</div>
									<nav class="dropdown_list w-dropdown-list">
										<div class="country-collection-wrapper w-dyn-list">
											<div role="list" class="country-collection-list w-dyn-items">
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Art Collectible</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Domain Name</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Music</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Photography</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Sports</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Trading Cards</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Utility</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
												<div role="listitem" class="country-collection-item w-dyn-item">
													<label class="w-checkbox checkbox_field">
														<div class="w-checkbox-input w-checkbox-input--inputType-custom checkbox_input"></div>
														<input type="checkbox" id="checkbox" name="checkbox" data-name="Checkbox" style="opacity:0;position:absolute;z-index:-1"/><span fs-cmsfilter-tagcategory="type" fs-cmsfilter-field="type" class="checkbox_label w-form-label" for="checkbox">Virtual World</span>
														<div class="option-results">[<span fs-cmsfilter-element="filter-results-count">0</span>]</div>
													</label>
												</div>
											</div>
										</div>
									</nav>
								</div>
								<!-- Double range slider (flat design)  -->
								<!-- <div class="range-slider flat" data-ticks-position='top' style='--min:0; --max:10000; --value-a:0; --value-b:10000; --suffix:"$"; --text-value-a:"0"; --text-value-b:"10000";'>
								  <input type="range" min="0" max="10000" value="0" oninput="this.parentNode.style.setProperty('--value-a',this.value); this.parentNode.style.setProperty('--text-value-a', JSON.stringify(this.value))">
								  <output></output>
								  <input type="range" min="0" max="10000" value="10000" oninput="this.parentNode.style.setProperty('--value-b',this.value); this.parentNode.style.setProperty('--text-value-b', JSON.stringify(this.value))">
								  <output></output>
								  <div class='range-slider__progress'></div>
								</div> -->
								<!-- <a fs-cmsfilter-reset="country" fs-cmsfilter-element="reset" id="w-node-f74fb912-de7c-ecbd-7898-a25cbfb62d3c-16e4a488" href="index.html#" class="filter_reset">Clear</a> -->
							
							
							</div>
						</div>
						
						<div id="w-node-b6c1d54a-cb18-8572-02ac-4bcad0db68d3-16e4a488" class="filter-header-block">
							<div id="w-node-_3d5c5fef-97b1-1ee8-b997-861f91b4d372-16e4a488" class="filter_block-header-2">
								<input type="text" class="filter_search-field w-node-f74fb912-de7c-ecbd-7898-a25cbfb62d26-16e4a488 w-input" fs-cmsfilter-highlight="true" autofocus="true" maxlength="256" name="field" fs-cmsfilter-tagcategory="Search" fs-cmsfilter-field="*" data-name="Field" aria-label="search" placeholder="Search here..." id="field" required=""/>
								<div data-hover="false" data-delay="0" fs-cmssort-element="trigger" id="w-node-_0e5ce414-57d0-644f-bd1f-97799c65ca0f-16e4a488" class="sort-dropdown w-dropdown">
									<div class="filter_sort-by w-dropdown-toggle">
										<div class="dropdown_icon w-icon-dropdown-toggle"></div>
										<div fs-cmssort-element="dropdown-label">Sort by</div>
									</div>
									<nav class="dropdown_list w-dropdown-list">
										<a fs-cmssort-field="price-asc" href="index.html#" class="sort_field w-inline-block">
											<div>Price (Asc)</div>
										</a>
										<a fs-cmssort-field="name-desc" href="index.html#" class="sort_field w-inline-block">
											<div>Name (Z/A)</div>
										</a>
										<a fs-cmssort-field="date-asc" href="index.html#" class="sort_field w-inline-block">
											<div>Date (Asc)</div>
										</a>
										<a fs-cmssort-field="date-desc" href="index.html#" class="sort_field w-inline-block">
											<div>Date (Desc)</div>
										</a>
									</nav>
								</div>
							</div>
							<!-- <div class="c-year-slider">
								<div double="1" r-filter="range" min-value="2005" max-value="2021" class="c-range-wrapper"></div>
								<div class="c-years-wrapper">
									<div class="c-year">
										<div class="c-year-output">
											<div r-filter-range-min="1" class="c-year-output-text">2005</div>
										</div>
									</div>
									<div class="c-year cc-max-price">
										<div class="c-year-output">
											<div r-filter-range-max="1" class="c-year-output-text">2021</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
					<div class="filter_header-2">
						<div class="filter_block _2">
							<div class="filter_results-text">Showing <span fs-cmsfilter-element="results-count" class="text-color-green">0</span> results of <span fs-cmsfilter-element="items-count" class="text-span">0</span> items.</div>
							<div class="hide">
								<div class="fs-cmsfilter_highlight">highlight</div>
							</div>
							<div class="divider"></div>
						</div>
						<div class="filter_tags-wrapper">
							<div class="filter_tags-text">Filtering by:</div>
							<div fs-cmsfilter-element="tag-template" class="filter_tag">
								<div fs-cmsfilter-element="tag-text" class="filter_tag-text">Tag</div>
								<img src="https://assets.website-files.com/61eeb6a45ec3ba54e0e4a487/61eec36883107b935b7f675e_close.svg" loading="lazy" fs-cmsfilter-element="tag-remove" alt="close icon
									" class="filter_tag-remove"/>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</form>
		<div class="w-form-done">
			<div>Thank you! Your submission has been received!</div>
		</div>
		<div class="w-form-fail">
			<div>Oops! Something went wrong while submitting the form.</div>
		</div>
	</div>
	<div class="table-wrapper">
		<div class="table-row header">
			<div class="table-heading">NFT</div>
			<div class="table-heading">Price</div>
			<div class="table-heading">Type</div>
			<div class="table-heading">Status</div>
			<div class="table-heading">Deals number</div>
			<div class="table-heading">Total profit</div>
			<div class="table-heading">Monthly ROI</div>
			<div class="table-heading">Last sale date</div>
			<div class="table-heading">Favorite</div>
		</div>
		<div class="table-container">
			<div class="table-data-wrapper">
				<div class="scroll-container">
					<div class="scroll-table-content">
						<div class="collection-list-wrapper w-dyn-list">
							<div fs-cmssort-element="list" fs-cmsfilter-element="list" fs-cmsload-element="list" fs-cmsfilter-tagformat="category" role="list" class="collection-list-2 w-dyn-items">
								<div fs-cmsfilter-showquery="true" role="listitem" class="collection-item w-dyn-item">
									<div class="table-row">
										
										<div class="table-box">
											<img src="{% static 'dashboard_extras/img/nft.png' %}" width="20" height="32" alt="Jason Pfannerstill" sizes="32px" class="team-member-image"/>
											<div fs-cmssort-field="name" class="table-data name"> Punk Robot #9212</div>
										</div>
										
										
										
										<div class="collection-list-wrapper-2 w-dyn-list">
											<div role="list" class="collection-list-3 w-dyn-items">
												<div role="listitem" class="collection-item-2 w-dyn-item">
													<div fs-cmsfilter-field="price" class="table-data">17</div>
												</div>
											</div>
										</div>
										<!-- <div class="collection-list-wrapper-2 w-dyn-list">
											<div role="list" class="collection-list-3 w-dyn-items">
												<div role="listitem" class="collection-item-2 w-dyn-item">
													
												</div>
											</div>
										</div> -->
										<div class="collection-list-wrapper-2 w-dyn-list">
											<div role="list" class="collection-list-3 w-dyn-items">
												<div role="listitem" class="collection-item-2 w-dyn-item">
													<div fs-cmsfilter-field="status" class="table-data">On auction</div>
												</div>
											</div>
										</div>
										<div class="table-data">Sold</div>
										<div class="table-data">Sold</div>
										<div class="table-data">12</div>
										<div class="table-data">12 eth</div>
										<div class="collection-list-wrapper-2 w-dyn-list">
											<div role="list" class="collection-list-3 w-dyn-items">
												<div role="listitem" class="collection-item-2 w-dyn-item">
													<div fs-cmsfilter-field="country" class="table-data">12 eth</div>
												</div>
											</div>
										</div>
										<a href="sign-up.html" class="button-buy-table w-button">Favorite</a>
										
									</div>
									<button class="btn btn-info show-details">
										show details <i class="fa fa-angle-down" aria-hidden="true"></i>
									  </button>
									  <ul class="details" style="padding-left: 0;">
										<div class="additional-table-row">
											
												<!-- <form id="email-form" name="email-form" data-name="Email Form" class="form"> -->
													<div class="field-block">
														<label for="name">Collection Name</label>
														<p>Samio Collection</p>
													</div>
													<div class="field-block">
														<label for="profile-email">Last Sale Date</label>
														<p>12.11.2022</p>
													</div>
													<div class="field-block">
														<label for="Username">Max profit per sale</label>
														<p>21 SOL</p>
													</div>
													<div class="field-block">
														<label for="Username">Min profit per sale</label>
														<p>2 SOL</p>
													</div>
													<div class="field-block">
														<label for="Role">Average Sale Duration</label>
														<p>12 days</p>
													</div>
													<div class="field-block">
														<label for="Role">Average Hold Duration</label>
														<p>12 days</p>
													</div>
													<div class="field-block">
														<label for="Role">Royalties</label>
														<p>12%</p>
													</div>
													
													<a href="sign-up.html" class="button-buy-table w-button">Buy Now</a>
												<!-- </form> -->
												
											
									  </ul>
									
								</div>
								
								
							
							
							<div fs-cmsfilter-showquery="true" role="listitem" class="collection-item w-dyn-item">
								<div class="table-row">
									
									<div class="table-box">
										<img src="{% static 'dashboard_extras/img/nft.png' %}" width="20" height="32" alt="Jason Pfannerstill" sizes="32px" class="team-member-image"/>
										<div fs-cmssort-field="name" class="table-data name">#1212</div>
									</div>
									
									
									
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="price" class="table-data">11</div>
											</div>
										</div>
									</div>
									<div class="table-data">Auction</div>
									<div class="table-data">Sold</div>
									<div class="table-data">Sold</div>
									<div class="table-data">12</div>
									<div class="table-data">12 eth</div>
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="country" class="table-data">12 eth</div>
											</div>
										</div>
									</div>
									<a href="sign-up.html" class="button-buy-table w-button">Favorite</a>
								</div>
							</div>
								
								
							<div fs-cmsfilter-showquery="true" role="listitem" class="collection-item w-dyn-item">
								<div class="table-row">
									
									<div class="table-box">
										<img src="{% static 'dashboard_extras/img/nft.png' %}" width="20" height="32" alt="Jason Pfannerstill" sizes="32px" class="team-member-image"/>
										<div fs-cmssort-field="name" class="table-data name">#9212</div>
									</div>
									
									
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="price" class="table-data">9</div>
											</div>
										</div>
									</div>
									<div class="table-data">Auction</div>
									<div class="table-data">Sold</div>
									<div class="table-data">Sold</div>
									<div class="table-data">12</div>
									<div class="table-data">12 eth</div>
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="country" class="table-data">12 eth</div>
											</div>
										</div>
									</div>
									<a href="sign-up.html" class="button-buy-table w-button">Buy Now</a>
								</div>
							</div>
							<div fs-cmsfilter-showquery="true" role="listitem" class="collection-item w-dyn-item">
								<div class="table-row">
									
									<div class="table-box">
										<img src="{% static 'dashboard_extras/img/nft.png' %}" width="20" height="32" alt="Jason Pfannerstill" sizes="32px" class="team-member-image"/>
										<div fs-cmssort-field="name" class="table-data name">#9212</div>
									</div>
									
									
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="price" class="table-data">9</div>
											</div>
										</div>
									</div>
									<div class="table-data">Auction</div>
									<div class="table-data">Sold</div>
									<div class="table-data">Sold</div>
									<div class="table-data">12</div>
									<div class="table-data">12 eth</div>
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="country" class="table-data">12 eth</div>
											</div>
										</div>
									</div>
									<a href="sign-up.html" class="button-buy-table w-button">Buy Now</a>
								</div>
							</div>
							<div fs-cmsfilter-showquery="true" role="listitem" class="collection-item w-dyn-item">
								<div class="table-row">
									
									<div class="table-box">
										<img src="{% static 'dashboard_extras/img/nft.png' %}" width="20" height="32" alt="Jason Pfannerstill" sizes="32px" class="team-member-image"/>
										<div fs-cmssort-field="name" class="table-data name">#9212</div>
									</div>
									
									
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="price" class="table-data">9</div>
											</div>
										</div>
									</div>
									<div class="table-data">Auction</div>
									<div class="table-data">Sold</div>
									<div class="table-data">Sold</div>
									<div class="table-data">12</div>
									<div class="table-data">12 eth</div>
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="country" class="table-data">12 eth</div>
											</div>
										</div>
									</div>
									<a href="sign-up.html" class="button-buy-table w-button">Buy Now</a>
								</div>
							</div>
							<div fs-cmsfilter-showquery="true" role="listitem" class="collection-item w-dyn-item">
								<div class="table-row">
									
									<div class="table-box">
										<img src="{% static 'dashboard_extras/img/nft.png' %}" width="20" height="32" alt="Jason Pfannerstill" sizes="32px" class="team-member-image"/>
										<div fs-cmssort-field="name" class="table-data name">#9212</div>
									</div>
									
									
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="price" class="table-data">9</div>
											</div>
										</div>
									</div>
									<div class="table-data">Auction</div>
									<div class="table-data">Sold</div>
									<div class="table-data">Sold</div>
									<div class="table-data">12</div>
									<div class="table-data">12 eth</div>
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="country" class="table-data">12 eth</div>
											</div>
										</div>
									</div>
									<a href="sign-up.html" class="button-buy-table w-button">Buy Now</a>
								</div>
							</div>
							<div fs-cmsfilter-showquery="true" role="listitem" class="collection-item w-dyn-item">
								<div class="table-row">
									
									<div class="table-box">
										<img src="{% static 'dashboard_extras/img/nft.png' %}" width="20" height="32" alt="Jason Pfannerstill" sizes="32px" class="team-member-image"/>
										<div fs-cmssort-field="name" class="table-data name">#9212</div>
									</div>
									
									
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="price" class="table-data">9</div>
											</div>
										</div>
									</div>
									<div class="table-data">Auction</div>
									<div class="table-data">Sold</div>
									<div class="table-data">Sold</div>
									<div class="table-data">12</div>
									<div class="table-data">12 eth</div>
									<div class="collection-list-wrapper-2 w-dyn-list">
										<div role="list" class="collection-list-3 w-dyn-items">
											<div role="listitem" class="collection-item-2 w-dyn-item">
												<div fs-cmsfilter-field="country" class="table-data">12 eth</div>
											</div>
										</div>
									</div>
									<a href="sign-up.html" class="button-buy-table w-button">Buy Now</a>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>